.kichwa
{
 background-color: #1795CA;


}

.loading {
background:url('../../../../img/indicator.gif') no-repeat;
width:32px;
height:32px;
border:none;
}

.stickynote{
position:absolute;
visibility:hidden;
}